

//---------------------------------------------- Fonts

	// Heading font
	$brandHeadFont:"brandon-grotesque", sans-serif;

	// Body font
	$brandBodyFont:"brandon-grotesque", sans-serif;



//---------------------------------------------- Colours

	// Main brand color - blue
	$brandColor: #FF02AF;

	// Primary copy font colour
	$primFontColor: #565656;

	//Dark Grey
	$darkGrey: #2d2d2d;






//---------------------------------------------- Baseline ems

	// 6px baseline
	$base: 0.375em;



//---------------------------------------------- Brand colors

	$levis: #1C253A;
	$tissot-watches: #000000;
	$mct: #8A0760;
	$btc: #456723;
	$crossfit: #456723;





//---------------------------------------------- media queries vars

	// Medium
	$m: 560px;

	// Medium - large
	$m-l: 768px;

	// Large
	$l: 960px;
