.all-work{
	@include clearfix;
	margin: 0 auto;

	&__item{
		position:relative;
		float:left;
		width:50%;
		overflow:hidden;
		min-height:460px;
		height:60vh;
		will-change: contents;

		.image-objects{
			&__obj{
				width:106%;
				left:-3%;
				height:106%;
				top:-3%;
			}
		}


		&:hover{
			.all-work__item__text-con{
				&__title{
					opacity: 1;
					transform: translateY(0) skewX(0);
				}

				&__shape{
					opacity:0.9;
					visibility: visible;
					transform:skewX(0);
				}
			}
		}

		&__text-con{
			position:relative;
			text-transform:uppercase;
			z-index: 5;
			padding:5%;


			&__shape{
				opacity:0;
				width:90%;
				margin:0 auto;
				height:auto;
				transform:skewX(20deg);
				visibility: hidden;
				transition: all .3s ease-in-out;


				svg{
					// fill:red;
					width:100%;
					height:auto;
				}
			}

			&__title{
				opacity:0;
				position:absolute;
				z-index: 5;
				width:100%;
				top:50%;
				bottom:50%;
				left: 15%;
				margin-top:-50px;
				color:white;
				font-size: 4em;
				margin-bottom:0;
				margin-left:-4px;
				transform: translateY(20px) skewX(6deg);
				transition: all .25s ease-in-out;

			}

			&__button{
				width:60px;
				height:60px;
				background:white;
				border-radius:50%;
			}
		}
	}
}

.levis{
	& svg{
		fill:$levis;
		opacity:0.9;
	}
}

.tissot-watches{
	& svg{
		fill:lighten($tissot-watches, 10%);
		opacity:0.9;
	}
}

.mct{
	& svg{
		fill:$mct;
		opacity:0.9;
	}
}

.btc{
	& svg{
		fill:$btc;
	}
}

.btc{
	& svg{
		fill:$btc;
	}
}
