.full-page-slider__controls{
	position: fixed;
	z-index: 20;
	right:20px;
	width:60px;
	bottom:180px;

	body.fp-viewing-0 &{
		.bx-slider__controls__arrows--prev{
			opacity:0;
		}
	}

	.bx-slider__controls__arrows--prev{
		opacity:1;
		transition: opacity .25s ease-in-out;
	}

	.bx-slider__controls__arrows{
		transform-origin: center;

		&:after{
			background:white;
		}

		i{
			opacity:1;
			z-index: 2;

			&:before, &:after{
				background:#2d2d2d !important;

			}
		}


		&--prev{
			cursor:n-resize;
			i{
				transform: rotate(90deg);
				top: 31px;
				left: 13px;
			}

		}
		&--next{
			cursor:s-resize;
			i{
				transform: rotate(90deg);
				top: 31px;
				left: 13px;
			}

		}
	}

	.bx-slider__controls__arrows--prev{

	}
	.bx-slider__controls__arrows--next{
		i{

		}
	}

	a{
		display: block;
	}
}


.slider-info{
	position:fixed;
	@include clearfix;
	top:30%;
	// bottom:50%;

	// margin:0 auto;
	width:100%;
	// height:460px;
	z-index: 10;
	// background:green;

	&__shape{
		position:absolute;
		width:100%;
		opacity:0.85;
		fill:black;
		top:0;
		left:0;

		svg{
			width:100%;
			height:auto;

			transition: fill .25s ease-in-out .2s;
		}
	}

	&__text-con{

		&__text-con__{
			position:absolute;
			// top:100px;
			// left:120px;
			z-index:99;
		}

		&__item{
			position:relative;
			z-index: 120;
			top:20px;
			left:30px;
    	max-width: 500px;
			// opacity:0;

			// &--active{
			// 	opacity:1;
			// }

			.container{
				position: absolute;
				opacity:0;
				transform:translate(0,20px);
				visibility: hidden;


				@include clearfix;
			}
		}

		&__title{
			// position:absolute;
			top:0;
			color:white;
			text-transform:uppercase;
			font-size:4em;

		}

		&__text{
			display: none;
			color:white;
			margin:10px 0 0 6px;
			font-weight:600;
			font-size: 1.1em;
			line-height: 1.4em;
		}

		&:hover{
			.btn{
				&:before{
					transform: scale(1) rotate(45deg);
				}

				i{
					&:after, &:before{
						background:black;
					}
				}
			}
		}
	}
}


.home-slider{
	&__slide{
		width:101%;
		height:101%;
		// background: url(assets/images/work-image--2.jpg);
		background-size: cover;
		// background-position:fixed;
		// background-attachment: fixed;
	}
}

.image-objects{
	width:100%;
	height:100%;
	overflow: hidden;
	background: black;


	&__obj{
		position: absolute;
		width:101%;
		height:101%;
		background-size: cover !important;
		background-position:center center;
		bottom:0;
		left:0;
		top:0;
		right:0;


		&:nth-child(1){
			z-index: 1;
		}

		&:nth-child(2){
			z-index: 2;
		}
		&:nth-child(3){
			z-index: 3;
		}
		&:nth-child(4){
			z-index: 4;
		}
	}
}

@include screen(medium){
	.slider-info{
		margin-top:-250px;
		margin-left:-350px;
		// margin:0 auto;
		width:700px;
		height:460px;
		left:50%;
		right:50%;
		top:50%;

		&__text-con{

			&__title{
				font-size:5em;
			}

			&__text{
				display: block;
			}
			&__item{
				top:100px;
				left:100px;

				.container{

				}
			}
		}
	}

	.full-page-slider__controls{
		bottom:190px;
		right:50px;
	}

}
