img {
	display: block;
	border: 0;
	opacity: 0;
}
img:not(.initial) {
	transition: opacity .25s;
}
img.initial,
img.loaded,
img.error {
	opacity: 1;
}
img:not([src]) {
	visibility: hidden;
}

.single-work__images{
	background:$darkGrey;
}


.work-single-info{
	@include clearfix;
	position: relative;
	overflow:hidden;
	padding:30px 30px 30px 30px;

	&__read-more{
		display: block;

		i{
			position: relative;
			float:left;
			width:24px;
			height:24px;
			border:1px solid white;
			transform: rotate(-45deg);

			&:before, &:after {
				content:"";
				position: absolute;
				top:10px;
				width:10px;
				height:1px;
				background:white;
				left:6px;
				transform: rotate(45deg);
			}
			&:after{
				transform: rotate(135deg);
			}
		}

		p{
			float:left;
			font-weight: bold;
			font-size:12px;
			margin-left:14px;
			color:white;
			text-transform: uppercase;
		}
	}

	&__intro{
		margin-bottom:40px;
		color:white;
	}

	&__wrapper{
		@include clearfix;

		&__text-con{
			display: none;

			&__sec-title{
				position:absolute;
				left:0;
				top:0;
				transform:rotate(-90deg);
			}
		}
	}

	&__details{
		// Mobile
		overflow: scroll;
    margin-left: -30px;
    margin-right: -30px;
		margin-top: 40px;


		ul{
			// Mobile
			-webkit-overflow-scrolling: touch;
			padding: 0 30px;
	    white-space: nowrap;
	    overflow-x: auto;
	    overflow-y: hidden;
	    vertical-align: middle;
		}

		&__wrap{
			display: inline-block;
			position: relative;
			margin-right:30px;
			margin-bottom:15px;
			padding-bottom:10px;

			&:last-child{
				margin-right:0;
			}

			h4{
				font-size: 1em;
				opacity: 0.4;
				margin-bottom:5px;
			}
			p{
				color:white;
			}

			&:last-child{
				&:after{
					display: none;
				}
			}
		}
	}

	&__small-desc{
		margin-top:40px;

		span{
			float:left;
			position:relative;
			width: 36px;
  	  height: 36px;
    	margin: 8px 15px 0 5px;

			i{
				width:30px;
				height:30px;
				border:1px solid white;
				transform: rotate(-45deg);

				p{
					width:30px;
					height:30px;
					color: white;
					font-size: 40px;
					top: -5px;
					position: absolute;
					margin: 0;
					left: 14px;
					transform: rotate(45deg);
				}
			}
		}
		&__text{
			color:white;
			font-style: italic;

			strong{
				font-weight:bold;
			}

		}
	}

	&__large-desc{

		&__text{
			color:white;
			font-size:1.2em;

			strong{
				font-weight:bold;
			}
		}
	}

}

@include screen(medium){
	.work-single-info{
		padding:0 0 120px 0;

		&__read-more{
			display: none;
		}

		&__intro{
			margin-bottom:30px;
		}

		&__wrapper{
			width:60%;
			@include clearfix;
			padding-left:60px;

			&__text-con{
				width:100%;
				display: block;
				position:relative;


				&__sec-title{
					position:absolute;
					left:0;
					top:0;
					transform:rotate(-90deg);
				}
			}
		}

		&__details{
			//Override Mobile
			overflow: auto;
			margin:0;

			position: absolute;
			right:60px;
			top:0;
			width:220px;

			ul{
				white-space: normal;
				overflow: auto;
			}

			&__wrap{
				padding-bottom:15px;

				h4{
					font-size: 1em;
					opacity: 0.4;
					margin-bottom:5px;
				}
				p{
					color:white;
				}

				&:after{
					content:"";
					position: absolute;
					bottom:0;
					left:0;
					width:25px;
					height:1px;
					background:rgba(0,0,0,.1);
				}

				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}


		&__small-desc{

			float:left;
		}

		&__large-desc{
			float:left;


			&__text{
				color:white;
				// font-size:1.2em;
				padding-right:10%;

			}
		}
	}
}

@include screen(large){
	.work-single-info{

		&__intro{
			margin-bottom:60px;
		}

		&__wrapper{
			&__text-con{
				float:right;
				width: 80%;
			}
		}

		&__small-desc{
			margin-top:0;
			width:25%;
		}
		&__large-desc{

			max-width:65%;
			margin-left:50px;

			&__text{

			}
		}
	}
}
