.full-page-slider{

  &__timeline-no{
    display: none;
  }

  &__slide{
    overflow: hidden;
    background:darken($darkGrey, 5%);

    &__ahoia-logo{
      max-width:200px;

      svg{
        margin-left: -55px;
        width: 120%;
      }
    }

    &--01,&--02, &--03, &--04, &--05{
      .number-timeline{
        position: absolute;
        left:40px;
        top:0;
        width:1px;
        height:100%;
        background:#696969;
      }
    }

    &--01{
      .number-timeline{
        display: none;
      }
    }



    &__ahoia-text{
      width:100%;
      opacity:1;

      &__quote{
        display: none;
      }

      .intro{
        font-size:1.2em;
        line-height:1.5em;
        color:white;
        font-weight: bold;
      }

      ul{
        width:20%;
        float:left;
        text-align: right;
        margin-top:4px;

        li p{
          color:white;
          font-size: 1.3em;
          font-style: italic;
          line-height:1.4em;

          span{
            display:inline-block;
          }
        }
      }
    }

    .wrapper{
      position: relative;
      @include clearfix;
      padding:0 30px 0 80px;
      max-width:1440px;
    }

    &__text-con{
      position: relative;
      @include clearfix;
      margin:80px 0 20px 0;

      .mobile-timeline-no{
        position: absolute;
        top:-2px;
        left:-55px;
        width:32px;
        height:32px;

        p{
          position: relative;
          text-align: center;
          color:black;
          padding-top:3px;
          font-size: 14px;
          font-weight: bold;
        }

        &:before{
          content:"";
          position: absolute;
          width:100%;
          height:100%;
          transform: rotate(-45deg);
          background:white;
        }

      }

      // &__logo-symbol{
      //   // opacity:0;
      //   position:absolute;
      //   width:110%;
      //   // transform: translateY(-32%) skewX(30deg);
      //   left:-22%;
      //   z-index: 0;
      //
      //   transition: opacity .45s ease-in-out, transform .45s ease-in-out;
      // }



      span p{
        color:white;
        font-weight: 500;
        font-size:16px;
        margin-top:0;
      }

      h1{
        text-transform: uppercase;
        color:white;
        font-size:2.2em;
      }
      p{
        margin-top:26px;
        color:#afafaf;
      }
    }
    &__services{

      ul{
        li{
          p{
            position: relative;
            color:white;
            padding:10px 0;
            border-bottom:1px solid #383838;
          }
          &:nth-child(1){
            p{
              transition: opacity .35s ease-in-out, transform .35s ease-in-out;
            }
          }

          &:nth-child(2){
            p{
              transition: opacity .35s ease-in-out .1s, transform .35s ease-in-out .1s;
            }
          }
          &:nth-child(3){
            p{
              transition: opacity .35s ease-in-out .15s, transform .35s ease-in-out .15s;
            }

          }
          &:nth-child(4){
            p{
              transition: opacity .35s ease-in-out .2s, transform .35s ease-in-out .2s;
            }
          }
          &:nth-child(5){
            p{
              transition: opacity .35s ease-in-out .35s, transform .35s ease-in-out .35s;
            }
          }
          &:nth-child(6){
            p{
              transition: opacity .35s ease-in-out .3s, transform .35s ease-in-out .3s;
            }
          }
        }
      }
    }
  }
}

@include screen(medium){

  body{
    &.fp-viewing-0{

      .full-page-slider{

        &__slide--01{

          &.fp-completely{
            .full-page-slider__slide__ahoia-logo{
              opacity:1;
              transform: translateY(-32%) skewX(0);
            }
            .full-page-slider__slide__ahoia-text{
              opacity:1;
              transform:translateY(0)
            }
          }

          
          
        }

        &__timeline-no{

          &:after{
            box-shadow: 0 0 0 0px darken(	$darkGrey, 5%);
          }

          &__text{
            opacity:1;
            visibility: visible;

            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s, visibility 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s;
          }

          transform:translateY(500%);
        }
      }
    }

    &.fp-viewing-1{
      .full-page-slider{
        &__timeline-no{
          span .container{
            transform:translateY(-56px);
          }
        }
      }
    }
    &.fp-viewing-2{
      .full-page-slider{
        &__timeline-no{
          span .container{
            transform:translateY(-112px);
          }
        }
      }
    }
    &.fp-viewing-3{
      .full-page-slider{
        &__timeline-no{
          span .container{
            transform:translateY(-168px);
          }
        }
      }
    }
    &.fp-viewing-4{
      .full-page-slider{
        &__timeline-no{
          opacity:0;

          span .container{
            transform:translateY(-214px);
          }
        }
      }
    }
  }

  .full-page-slider{

    .contact-page{
      .wrap{
        overflow: hidden;
      }
    }

    .mask{
    	height:100%;
    	width:110%;
    	position:relative;
    	overflow:hidden;

    	& > *{
    		position: relative;
    		left:0;
    		transform: translateY(150%);
    		transition: all .25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    	}
    }

    &__timeline-no{
      position:fixed;
      top:50%;
      left:75px;
      width:50px;
      height:50px;
      z-index: 10;
      background: transparent;
      cursor:pointer;

      transition: transform .35s ease-in-out, opacity .25s ease-in-out;

      &__text{
        position: absolute;
        right:-125px;
        top:12px;
        color:white;
        text-transform: uppercase;
        white-space: nowrap;
        letter-spacing: 0.03em;
        opacity:0;
        font-weight:bold;
        visibility: hidden;

        transition: opacity .35s cubic-bezier(0.455, 0.03, 0.515, 0.955), visibility .35s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }

      &:after{
        content:"";
        position: absolute;
        width:50px;
        height:50px;
        top:0;
        left:0;
        background: white;
        transform:rotate(-45deg);
        z-index: 11;
        box-shadow: 0 0 0 6px darken(	$darkGrey, 5%);

        transition: box-shadow .35s ease-in-out;
      }

      span{
        position: relative;
        width:40px;
        height:40px;
        overflow: hidden;
        z-index: 12;
        margin:0 auto;

        .container{
          position: absolute;
          top:0;
          text-align: center;
          font-weight:bold;
          width:100%;
          z-index: 16;

          transition: transform .35s ease-in-out;

          p:nth-child(1){
            &:after, &:before{
              content:"";
              position: absolute;
              top:29px;
              width:12px;
              background:black;
              height:3px;
            }

            &:before{
              transform:rotate(45deg);
              transform-origin:bottom right;
              left:7px;
            }
            &:after{
              left:20px;
              transform:rotate(-45deg);
              transform-origin:bottom left;
            }
          }
        }

        p{
          padding: 7px 0 12px 0;
          color:black;
          font-size:20px;
        }
      }
    }

    &__slide{

      .mobile-timeline-no{
        top:10px;
        left:-86px;
      }

      &__ahoia-logo{
        float:left;
        max-width:none;
        width:40%;
        opacity:0;
        transform: translateY(-32%) skewX(30deg);
        z-index: 0;

        transition: opacity .45s ease-in-out .2s, transform .45s ease-in-out;
        

        svg{
          margin-left: -85px;
          width: 120%;
        }
      }

      &__services{
        float:left;

        ul li p{
          opacity: 0;
          padding:10px 60px 10px 0;
        }
      }



      &--01,&--02, &--03, &--04, &--05{
        .number-timeline{
          left:100px;
        }
      }

      &__ahoia-text{
        position: absolute;
        width:35%;
        right:10%;
        margin-top:0;
        opacity:0;
        transform: translateY(-20px);

        transition: opacity .45s ease-in-out .6s;

        .intro{
          font-size:1.4em;
          line-height:1.5em;
          float:right;
        }
      }

      .wrapper{
        padding:0 10% 0 170px;
      }

      &__text-con{

        margin:60px 0 40px 0;

        p{
          max-width:500px;
          transform:translateY(20px);
          opacity:0;
          transition: opacity .35s cubic-bezier(0.455, 0.03, 0.515, 0.955) .2s, transform .35s cubic-bezier(0.455, 0.03, 0.515, 0.955) .2s;
        }


        

        span p{
          font-size:22px;
        }

        h1{
          font-size:4em;
        }
      }


      &.fp-completely{

        .full-page-slider{
          &__slide{

            &__ahoia-text{
              opacity:1;
              transform:translateY(0);
            }
            &__text-con{

              h1{
                transform: translateY(0);
              }

              p{
                opacity:1;
                transform:translateY(0);
              }
            }

            &__services{
              ul{
                li{
                  p{
                    opacity: 1;
                    transform: translateX(0);
                  }
                }
              }
            }
          }
        }
      }
    }
  } // full-page-slider

}

@include screen(large){
  .full-page-slider{

    &__timeline-no{
      display: block;
    }

    &__slide{

      &--01{
        .number-timeline{
          display: block;
          top:auto;
          bottom:0;
          height:100px;
        }

        .full-page-slider__slide__text-con{
          margin-top:-100px;
        }
      }

      .mobile-timeline-no{
        display:none;
      }

      &__ahoia-text{
        margin-top:60px;
        &__quote{
          display: block;
        }

        .intro{
          width:70%;
        }
      }

      &__services{
        float:right;
        width:35%;
        margin-top:50px;
        position: relative;

        ul{
          li{
            p{
              opacity: 0;
              transform: translateX(-20px);
            }
          }
        }
      }

      .wrapper{
        padding:0 10% 0 210px;
      }

      &__services{
        padding-right:10%;

        ul li p{
          padding:10px 0;
        }
      }
      &__text-con{
        float:left;
        width:60%;

        h1{
          font-size:5em;
        }
      }
    }
  }
}
