/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, svg {
  width: 100%;
  height: auto;
  display: block; }

a, a:hover, a:active, a:focus {
  color: black;
  text-decoration: none;
  outline: 0; }

i, span {
  display: block; }

* {
  box-sizing: border-box; }

button {
  display: block;
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
  background: none; }

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6, p {
  font-family: "brandon-grotesque", sans-serif;
  margin-top: 0; }

h1 {
  font-size: 3.15em;
  font-weight: 900;
  line-height: 0.85em; }
  h1.largest {
    font-size: 4.2em; }

h2 {
  font-size: 4em;
  margin-left: -3px;
  line-height: 72px;
  margin-bottom: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.01em; }

h3 {
  font-size: 1.4em;
  line-height: 1.266em;
  margin-top: -2px;
  font-weight: 700;
  margin-bottom: 0.75em; }

h4 {
  font-size: 1.55em;
  font-weight: 700;
  line-height: 1.240em; }

h5 {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.240em; }

p {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.875em;
  line-height: 1.875em;
  color: #565656; }

@media (min-width: 700px) and (min-height: 500px) {
  h1 {
    font-size: 5em; }
    h1.largest {
      font-size: 6em; }
  h3 {
    font-size: 1.8em; }
  p.large {
    font-size: 1.125em; } }

.outter-wrapper {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 0 auto; }

.main-wrapper {
  max-width: 1280px;
  margin: 0 auto; }

.border-outter {
  padding: 20px; }

body, html {
  overflow-x: hidden; }

.cover {
  background-size: cover !important; }

/*!
 * fullPage 2.7.8
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 * Contribution by Jhony0311
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent; }
  .fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }
  .fp-slidesNav.bottom {
    bottom: 17px; }
  .fp-slidesNav.top {
    top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }
  #fp-nav ul li,
  .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative; }
    #fp-nav ul li a,
    .fp-slidesNav ul li a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none; }
      #fp-nav ul li a.active span,
      .fp-slidesNav ul li a.active span {
        height: 12px;
        width: 12px;
        margin: -6px 0 0 -6px;
        border-radius: 100%; }
        #fp-nav ul li:hover #fp-nav ul li a.active span,
        #fp-slidesNav ul li:hover #fp-nav ul li a.active span, #fp-nav ul li:hover
        .fp-slidesNav ul li a.active span,
        #fp-slidesNav ul li:hover
        .fp-slidesNav ul li a.active span {
          height: 12px;
          width: 12px;
          margin: -6px 0 0 -6px;
          border-radius: 100%; }
      #fp-nav ul li a span,
      .fp-slidesNav ul li a span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 4px;
        width: 4px;
        border: 0;
        background: #333;
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span {
      width: 10px;
      height: 10px;
      margin: -5px 0px 0px -5px; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }
  #fp-nav.right {
    right: 17px; }
  #fp-nav.left {
    left: 17px; }
  #fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer; }
    #fp-nav ul li .fp-tooltip.right {
      right: 20px; }
  #fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }
  #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }

.fp-slidesNav ul li {
  display: inline-block; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("images/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("images/controls.png") no-repeat 0 -32px; }

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url("images/controls.png") no-repeat -43px -32px; }

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.bx-slider-container {
  position: relative; }

.bx-slider__controls {
  position: absolute;
  height: 140px;
  right: 60px;
  width: 50px;
  z-index: 2;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%); }
  .bx-slider__controls__arrows .btn-tri__icon:before, .bx-slider__controls__arrows .btn-tri__icon:after {
    right: 34px;
    top: 21px; }
  .bx-slider__controls__arrows.btn-tri {
    width: 60px !important;
    height: 60px !important; }
    .bx-slider__controls__arrows.btn-tri:before, .bx-slider__controls__arrows.btn-tri:after {
      width: 44px;
      height: 44px; }
    .bx-slider__controls__arrows.btn-tri:after {
      background: rgba(255, 255, 255, 0.65);
      border: none; }
  .bx-slider__controls__arrows--prev {
    cursor: w-resize; }
    .bx-slider__controls__arrows--prev .btn-tri__icon:before, .bx-slider__controls__arrows--prev .btn-tri__icon:after {
      transform-origin: left center; }
    .bx-slider__controls__arrows--prev .btn-tri__icon:before {
      top: 21px; }
    .bx-slider__controls__arrows--prev .btn-tri__icon:after {
      top: 22px; }
  .bx-slider__controls__arrows--next {
    cursor: e-resize;
    top: 70px; }

body:not(.home) .ahoia-logo__letter--hide {
  visibility: hidden;
  transform: translate(0, 3px); }

body:not(.home) .ahoia-logo__letter--afirst {
  transform: translate(20px, 0); }

body:not(.home) .ahoia-logo__letter--alast {
  transform: translate(-21px, 0); }

.main-header {
  position: fixed;
  top: 0;
  right: 0px;
  width: 100%;
  height: 20px;
  z-index: 80; }
  .main-header p, .main-header a {
    color: white; }
  .main-header--open .main-header__nav {
    opacity: 1;
    visibility: visible; }
    .main-header--open .main-header__nav__links__link {
      opacity: 1; }
  .main-header .ahoia-logo__letter {
    transition: fill .25s ease-in-out .2s; }
  .main-header__logos {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 92;
    width: 100px; }
    .main-header__logos svg {
      width: 100%;
      height: auto; }
  .main-header__links-angle-bg {
    position: absolute;
    right: -50px;
    top: -460px;
    background: #2d2d2d;
    width: 110%;
    height: 600px;
    z-index: 2;
    transform: rotate(24deg);
    transform-origin: 100% 100% 0px;
    transition: background .25s ease-in-out .2s; }
  .main-header__contact-details {
    float: left;
    width: 30%;
    padding: 100px 2% 0 0;
    position: relative;
    opacity: 0;
    visibility: collapse;
    z-index: 91; }
    .main-header__contact-details__item {
      opacity: 0; }
      .main-header__contact-details__item--email-add, .main-header__contact-details__item--phone-no {
        display: block;
        margin-bottom: 20px;
        font-family: "brandon-grotesque", sans-serif;
        font-weight: 600; }
  .main-header__nav {
    position: fixed;
    float: left;
    padding: 100px 7% 0 7%;
    height: 100%;
    width: 100%;
    z-index: 91;
    opacity: 0;
    visibility: collapse;
    background: #2d2d2d; }
    .main-header__nav__links__link {
      font-family: "brandon-grotesque", sans-serif;
      font-weight: bold;
      text-align: right;
      font-size: 2.6em;
      padding-bottom: 20px;
      text-transform: uppercase;
      opacity: 0; }
      .main-header__nav__links__link a {
        color: white; }

@media (min-width: 700px) and (min-height: 500px) {
  #top, #bottom, #left, #right {
    background: #2d2d2d;
    position: fixed;
    z-index: 10;
    transition: all .25s ease-in-out .2s; }
  #left, #right {
    top: 0;
    bottom: 0;
    width: 20px; }
  #left {
    left: 0; }
  #right {
    right: 0; }
  #top, #bottom {
    left: 0;
    right: 0;
    height: 20px; }
  #top {
    top: 0; }
  #bottom {
    bottom: 0; }
  .main-header__logos {
    right: 26px;
    top: 18px;
    width: 115px; }
  .main-header__nav {
    background: none;
    position: relative;
    width: 30%; }
    .main-header__nav__links__link {
      text-align: left; }
  .main-header__links-angle-bg {
    top: -430px; } }

.full-page-slider__controls {
  position: fixed;
  z-index: 20;
  right: 20px;
  width: 60px;
  bottom: 180px; }
  body.fp-viewing-0 .full-page-slider__controls .bx-slider__controls__arrows--prev {
    opacity: 0; }
  .full-page-slider__controls .bx-slider__controls__arrows--prev {
    opacity: 1;
    transition: opacity .25s ease-in-out; }
  .full-page-slider__controls .bx-slider__controls__arrows {
    transform-origin: center; }
    .full-page-slider__controls .bx-slider__controls__arrows:after {
      background: white; }
    .full-page-slider__controls .bx-slider__controls__arrows i {
      opacity: 1;
      z-index: 2; }
      .full-page-slider__controls .bx-slider__controls__arrows i:before, .full-page-slider__controls .bx-slider__controls__arrows i:after {
        background: #2d2d2d !important; }
    .full-page-slider__controls .bx-slider__controls__arrows--prev {
      cursor: n-resize; }
      .full-page-slider__controls .bx-slider__controls__arrows--prev i {
        transform: rotate(90deg);
        top: 31px;
        left: 13px; }
    .full-page-slider__controls .bx-slider__controls__arrows--next {
      cursor: s-resize; }
      .full-page-slider__controls .bx-slider__controls__arrows--next i {
        transform: rotate(90deg);
        top: 31px;
        left: 13px; }
  .full-page-slider__controls a {
    display: block; }

.section__hello {
  background: #1e1e1e; }
  .section__hello .home-slider__slide {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    height: auto; }
    .section__hello .home-slider__slide .slider-info__text-con__title {
      font-size: 6em; }
    .section__hello .home-slider__slide h3 {
      margin-top: 10px;
      color: white; }
  .section__hello__explore {
    position: absolute;
    bottom: 54px;
    right: 90px;
    color: white;
    font-size: 16px; }

body.fp-viewing-0 .slider-info, body.fp-viewing-5 .slider-info {
  opacity: 0;
  visibility: hidden; }

body.fp-viewing-5 .bx-slider__controls__arrows--next {
  opacity: 0; }

body.fp-viewing-5 .bx-slider__controls__arrows--prev {
  top: 70px; }

.slider-info {
  position: fixed;
  top: 30%;
  width: 100%;
  z-index: 10;
  transition: all .45s ease-in-out; }
  .slider-info:after {
    content: "";
    display: table;
    clear: both; }
  .slider-info__shape {
    position: absolute;
    width: 100%;
    opacity: 0.85;
    fill: #1e1e1e;
    top: 0;
    left: 0; }
    .slider-info__shape svg {
      width: 100%;
      height: auto;
      transition: fill .25s ease-in-out .2s; }
  .slider-info__text-con__text-con__ {
    position: absolute;
    z-index: 99; }
  .slider-info__text-con__item {
    position: relative;
    z-index: 120;
    top: 20px;
    left: 30px;
    max-width: 500px; }
    .slider-info__text-con__item .container {
      position: absolute;
      opacity: 0;
      transform: translate(0, 20px);
      visibility: hidden; }
      .slider-info__text-con__item .container:after {
        content: "";
        display: table;
        clear: both; }
  .slider-info__text-con__title {
    top: 0;
    color: white;
    text-transform: uppercase;
    font-size: 4em; }
  .slider-info__text-con__text {
    display: none;
    color: white;
    margin: 10px 0 0 6px;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.4em; }
  .slider-info__text-con:hover .btn:before {
    transform: scale(1) rotate(45deg); }
  .slider-info__text-con:hover .btn i:after, .slider-info__text-con:hover .btn i:before {
    background: black; }

.home-slider__slide {
  width: 101%;
  height: 101%;
  background-size: cover; }

.image-objects {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black; }
  .image-objects__obj {
    position: absolute;
    width: 101%;
    height: 101%;
    background-size: cover !important;
    background-position: center center;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0; }
    .image-objects__obj:nth-child(1) {
      z-index: 1; }
    .image-objects__obj:nth-child(2) {
      z-index: 2; }
    .image-objects__obj:nth-child(3) {
      z-index: 3; }
    .image-objects__obj:nth-child(4) {
      z-index: 4; }

@media (min-width: 700px) and (min-height: 500px) {
  .section__hello .home-slider__slide .slider-info__text-con__title {
    font-size: 12em; }
  .section__hello__explore {
    bottom: 65px;
    right: 120px; }
  .slider-info {
    margin-top: -250px;
    margin-left: -350px;
    width: 700px;
    height: 460px;
    left: 50%;
    right: 50%;
    top: 50%; }
    .slider-info__text-con__title {
      font-size: 5em; }
    .slider-info__text-con__text {
      display: block; }
    .slider-info__text-con__item {
      top: 100px;
      left: 100px; }
  .full-page-slider__controls {
    bottom: 190px;
    right: 50px; } }

.btn-tri {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  left: 12px; }
  .btn-tri:before, .btn-tri:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    z-index: 1; }
  .btn-tri:after {
    border: 1px solid white;
    transform: rotate(45deg); }
  .btn-tri:before {
    background: white;
    left: 1px;
    top: 1px;
    transform: scale(0) rotate(45deg);
    transition: transform .25s ease-in-out; }
  .btn-tri__icon {
    position: relative; }
    .btn-tri__icon:after, .btn-tri__icon:before {
      content: "";
      position: absolute;
      width: 11px;
      height: 2px;
      right: 26px;
      z-index: 2;
      background: white;
      transform-origin: right center;
      transition: background .25s ease-in-out; }
    .btn-tri__icon:before {
      top: 17px;
      transform: rotate(45deg); }
    .btn-tri__icon:after {
      top: 16px;
      transform: rotate(-45deg); }

.full-hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background-size: cover;
  overflow: hidden; }
  .full-hero .btn-tri {
    left: 30px;
    top: -80px; }
    .full-hero .btn-tri i:after, .full-hero .btn-tri i:before {
      transform-origin: bottom center; }
    .full-hero .btn-tri i:before {
      top: 18px;
      right: 31px; }
    .full-hero .btn-tri i:after {
      top: 18px;
      right: 23px; }
  .full-hero__desc {
    position: absolute;
    bottom: 0;
    z-index: 6;
    padding-left: 26px; }
    .full-hero__desc__title {
      color: white;
      text-transform: uppercase; }
  .full-hero__shape {
    position: absolute;
    width: 113%;
    height: 950px;
    bottom: -950px;
    right: 0px;
    background: #006664;
    opacity: 0.98;
    transform: rotate(21deg);
    transform-origin: top right;
    z-index: 2; }

.hero-info-shape {
  position: absolute;
  width: 113%;
  height: 950px;
  top: 0px;
  right: 0px;
  background: #006664;
  opacity: 0.7;
  transform: rotate(21deg);
  transform-origin: top right;
  z-index: 2; }

.work-single-hero__img {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover; }

@media (min-width: 700px) and (min-height: 500px) {
  .work-single-hero__img {
    position: fixed;
    top: 0;
    left: 0; }
  .full-hero {
    height: 100vh; }
    .full-hero .btn-tri {
      top: -20px;
      left: 70px; }
    .full-hero__desc {
      padding: 60px; } }

.work-text {
  max-width: 600px;
  margin: 0 auto; }

@keyframes loaderLogoLetters {
  0% {
    fill: white; }
  100% {
    fill: #2d2d2d; } }

.page-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #282828;
  background: #2d2d2d;
  z-index: 99999; }

.page-loader__logo-letters {
  fill: #2d2d2d;
  animation: loaderLogoLetters .8s 0s infinite; }

.page-loader__logo-letters:nth-child(1) {
  animation-delay: 0s; }

.page-loader__logo-letters:nth-child(2) {
  animation-delay: .15s; }

.page-loader__logo-letters:nth-child(3) {
  animation-delay: .30s; }

.page-loader__logo-letters:nth-child(4) {
  animation-delay: .45s; }

.page-loader__logo-letters:nth-child(5) {
  animation-delay: .60s; }

.page-loader__logo-shape {
  fill: currentColor; }

.page-loader .wrapper {
  width: 600px;
  max-width: 600px;
  padding: 0 40px; }

.main-footer {
  background: #1e1e1e; }
  .main-footer__logo svg {
    float: left;
    width: 120px; }
  .main-footer__logo h3 {
    float: left;
    margin-left: 15px;
    margin-top: 28px;
    color: white;
    font-size: 18px; }
  .main-footer__r-content {
    float: right;
    margin-top: 20px; }
    .main-footer__r-content .copyright {
      text-align: right;
      margin: 10px 10px 0 0; }
  .main-footer__links__link {
    display: inline-block;
    margin: 10px; }
    .main-footer__links__link a {
      color: white;
      font-family: "brandon-grotesque", sans-serif;
      font-weight: 500;
      color: #cccccc; }
  .main-footer .wrapper {
    padding: 60px 30px 100px 30px;
    max-width: 1000px;
    margin: 0 auto; }
    .main-footer .wrapper:after {
      content: "";
      display: table;
      clear: both; }

img {
  display: block;
  border: 0;
  opacity: 0; }

img:not(.initial) {
  transition: opacity .25s;
  opacity: 1; }

img.initial,
img.loaded,
img.error {
  opacity: 1; }

img:not([src]) {
  visibility: hidden; }

.single-work__images {
  position: relative;
  background: #2d2d2d; }

.work-single-back-btn {
  position: fixed;
  z-index: 10;
  top: 25px;
  left: 25px;
  width: 40px;
  height: 40px; }
  .work-single-back-btn span:after, .work-single-back-btn span:before {
    content: "";
    position: absolute;
    top: 19px;
    width: 12px;
    background: black;
    height: 2px;
    left: 15px; }
  .work-single-back-btn span:before {
    transform: rotate(-45deg);
    transform-origin: bottom left; }
  .work-single-back-btn span:after {
    transform: rotate(45deg);
    transform-origin: top left; }
  .work-single-back-btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    background: white;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.work-single-info {
  position: relative;
  overflow: hidden;
  padding: 30px 30px 30px 30px; }
  .work-single-info:after {
    content: "";
    display: table;
    clear: both; }
  .work-single-info__read-more {
    display: block; }
    .work-single-info__read-more i {
      position: relative;
      float: left;
      width: 24px;
      height: 24px;
      border: 1px solid white;
      transform: rotate(-45deg); }
      .work-single-info__read-more i:before, .work-single-info__read-more i:after {
        content: "";
        position: absolute;
        top: 10px;
        width: 10px;
        height: 1px;
        background: white;
        left: 6px;
        transform: rotate(45deg); }
      .work-single-info__read-more i:after {
        transform: rotate(135deg); }
    .work-single-info__read-more p {
      float: left;
      font-weight: bold;
      font-size: 12px;
      margin-left: 14px;
      color: white;
      text-transform: uppercase; }
  .work-single-info__intro {
    margin-bottom: 40px;
    color: white; }
  .work-single-info__wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .work-single-info__wrapper__text-con {
    display: none; }
    .work-single-info__wrapper__text-con__sec-title {
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(-90deg); }
  .work-single-info__details {
    overflow: scroll;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 40px; }
    .work-single-info__details ul {
      -webkit-overflow-scrolling: touch;
      padding: 0 30px;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      vertical-align: middle; }
    .work-single-info__details__wrap {
      display: inline-block;
      position: relative;
      margin-right: 30px;
      margin-bottom: 15px;
      padding-bottom: 10px; }
      .work-single-info__details__wrap:last-child {
        margin-right: 0; }
      .work-single-info__details__wrap h4 {
        font-size: 1em;
        opacity: 0.4;
        margin-bottom: 5px; }
      .work-single-info__details__wrap p {
        color: white; }
      .work-single-info__details__wrap:last-child:after {
        display: none; }
  .work-single-info__small-desc {
    margin-top: 40px; }
    .work-single-info__small-desc span {
      float: left;
      position: relative;
      width: 36px;
      height: 36px;
      margin: 8px 15px 0 5px; }
      .work-single-info__small-desc span i {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        transform: rotate(-45deg); }
        .work-single-info__small-desc span i p {
          width: 30px;
          height: 30px;
          color: white;
          font-size: 40px;
          top: -5px;
          position: absolute;
          margin: 0;
          left: 14px;
          transform: rotate(45deg); }
    .work-single-info__small-desc__text {
      color: white;
      font-style: italic; }
      .work-single-info__small-desc__text strong {
        font-weight: bold; }
  .work-single-info__large-desc__text {
    color: white;
    font-size: 1.2em; }
    .work-single-info__large-desc__text strong {
      font-weight: bold; }

@media (min-width: 700px) and (min-height: 500px) {
  .work-single-back-btn {
    top: 46px;
    left: 46px; }
  .work-single-info {
    padding: 0 0 120px 0; }
    .work-single-info__read-more {
      display: none; }
    .work-single-info__intro {
      margin-bottom: 30px; }
    .work-single-info__wrapper {
      width: 60%;
      padding-left: 60px; }
      .work-single-info__wrapper:after {
        content: "";
        display: table;
        clear: both; }
      .work-single-info__wrapper__text-con {
        width: 100%;
        display: block;
        position: relative; }
        .work-single-info__wrapper__text-con__sec-title {
          position: absolute;
          left: 0;
          top: 0;
          transform: rotate(-90deg); }
    .work-single-info__details {
      overflow: hidden;
      margin: 0;
      position: absolute;
      right: 60px;
      top: 0;
      width: 220px; }
      .work-single-info__details ul {
        white-space: normal;
        overflow: hidden; }
      .work-single-info__details__wrap {
        padding-bottom: 15px; }
        .work-single-info__details__wrap h4 {
          font-size: 1em;
          opacity: 0.4;
          margin-bottom: 5px; }
        .work-single-info__details__wrap p {
          color: white; }
        .work-single-info__details__wrap:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 25px;
          height: 1px;
          background: rgba(0, 0, 0, 0.1); }
        .work-single-info__details__wrap:last-child:after {
          display: none; }
    .work-single-info__small-desc {
      float: left; }
    .work-single-info__large-desc {
      float: left; }
      .work-single-info__large-desc__text {
        color: white;
        padding-right: 10%; } }

@media (min-width: 1100px) {
  .work-single-info__intro {
    margin-bottom: 60px; }
  .work-single-info__wrapper__text-con {
    float: right;
    width: 80%; }
  .work-single-info__small-desc {
    margin-top: 0;
    width: 25%; }
  .work-single-info__large-desc {
    max-width: 65%;
    margin-left: 50px; } }

.all-work {
  margin: 0 auto; }
  .all-work:after {
    content: "";
    display: table;
    clear: both; }
  .all-work__item {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    min-height: 460px;
    height: 60vh;
    will-change: contents; }
    .all-work__item .image-objects__obj {
      width: 106%;
      left: -3%;
      height: 106%;
      top: -3%; }
    .all-work__item:hover .all-work__item__text-con__text {
      opacity: 1;
      transform: translateY(0) skewX(0); }
    .all-work__item:hover .all-work__item__text-con__shape {
      opacity: 0.9;
      visibility: visible;
      transform: translateY(-50%) skewX(0); }
    .all-work__item__text-con {
      position: relative;
      text-transform: uppercase;
      z-index: 5;
      height: 100%;
      padding: 5%; }
      .all-work__item__text-con__text {
        position: absolute;
        z-index: 6;
        width: 100%;
        top: 50%;
        bottom: 50%;
        left: 15%;
        margin-top: -50px;
        transition: all .25s ease-in-out; }
      .all-work__item__text-con__shape {
        position: absolute;
        top: 50%;
        width: 90%;
        opacity: 0.9;
        margin: 0 auto;
        height: auto;
        transform: translateY(-50%); }
        .all-work__item__text-con__shape svg {
          width: 100%;
          height: auto; }
      .all-work__item__text-con__title {
        color: white;
        margin-bottom: 0;
        margin-left: -4px; }
      .all-work__item__text-con__button {
        width: 60px;
        height: 60px;
        background: white;
        border-radius: 50%; }

@media (min-aspect-ratio: 8 / 5) {
  .all-work__item {
    width: 50%; }
    .all-work__item__text-con__shape {
      opacity: 0;
      transform: translateY(-50%) skewX(20deg);
      visibility: hidden;
      transition: all .3s ease-in-out; }
    .all-work__item__text-con__text {
      opacity: 0;
      transform: translateY(20px) skewX(6deg); }
    .all-work__item__text-con__title {
      font-size: 4em; } }

body.contact {
  background: #2d2d2d; }

.left-content {
  position: relative;
  width: 100%;
  background: #202020;
  color: white;
  z-index: 1; }
  .left-content .content {
    padding: 60px 30px; }
    .left-content .content:after {
      content: "";
      display: table;
      clear: both; }
    .left-content .content h3.hey {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      font-size: 18px; }
      .left-content .content h3.hey:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 1px;
        width: 100%;
        background: white; }
    .left-content .content .ahoia-contact {
      margin-top: 40px; }
      .left-content .content .ahoia-contact h1 {
        font-size: 2em;
        line-height: 1em; }
      .left-content .content .ahoia-contact__details {
        width: 100%;
        margin-top: 60px; }
        .left-content .content .ahoia-contact__details:after {
          content: "";
          display: table;
          clear: both; }
        .left-content .content .ahoia-contact__details div {
          float: left;
          margin-right: 30px;
          margin-bottom: 40px; }
          .left-content .content .ahoia-contact__details div:last-child {
            margin-right: 0; }
          .left-content .content .ahoia-contact__details div h3 {
            font-size: 1.2em;
            margin-bottom: 20px; }
          .left-content .content .ahoia-contact__details div a {
            color: white;
            font-family: "brandon-grotesque", sans-serif;
            display: block;
            padding: 8px 0; }
  .left-content .ahoia-time-place:after {
    content: "";
    display: table;
    clear: both; }
  .left-content .ahoia-time-place__location {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #b9b9b9; }
  .left-content .ahoia-time-place__time__clock {
    clear: both;
    position: relative;
    display: inline-block;
    padding-top: 30px; }
    .left-content .ahoia-time-place__time__clock:after {
      content: "";
      display: table;
      clear: both; }
    .left-content .ahoia-time-place__time__clock p {
      display: inline-block;
      font-size: 4em;
      font-weight: 100;
      color: white;
      line-height: 1.1em; }
    .left-content .ahoia-time-place__time__clock .am-pm {
      margin-bottom: 10px;
      position: absolute;
      right: -32px;
      bottom: 28px;
      font-size: 16px; }
  .left-content .ahoia-time-place__time__open-hrs {
    display: inline-block;
    margin-left: 3px;
    margin-bottom: -4px; }
    .left-content .ahoia-time-place__time__open-hrs p, .left-content .ahoia-time-place__time__open-hrs i {
      float: left; }
    .left-content .ahoia-time-place__time__open-hrs i {
      width: 24px;
      height: 24px; }
      .left-content .ahoia-time-place__time__open-hrs i svg path {
        fill: white; }
    .left-content .ahoia-time-place__time__open-hrs p {
      font-size: 12px;
      margin-top: 2px;
      margin-left: 4px;
      text-transform: uppercase;
      color: white;
      font-weight: 100; }

@media screen and (min-width: 800px) and (min-height: 660px) {
  .contact-page {
    height: 100vh;
    overflow: hidden; }
  .left-content, .right-content {
    float: left;
    width: 50%; }
  .content {
    height: 100vh; }
  .left-content .content {
    padding: 0; }
    .left-content .content .ahoia-contact {
      margin-top: 10%; }
      .left-content .content .ahoia-contact h1 {
        font-size: 2.6em;
        line-height: 1.2em; }
      .left-content .content .ahoia-contact__details div {
        width: 45%;
        margin-right: 4%; }
  .left-content .ahoia-time-place__time__clock p {
    font-size: 6em; }
  .left-content .ahoia-time-place__time__clock .am-pm {
    bottom: 38px; }
  .left-content:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 200%;
    background: #202020;
    top: 0;
    right: 0;
    transform: rotate(-15deg);
    transform-origin: top right;
    z-index: -1; }
  .left-content .content {
    width: 76%;
    margin: 0 auto;
    padding-top: 16%; }
  .right-content .image {
    height: 100vh;
    width: 100%; } }

.full-page-slider__timeline-no {
  display: none; }

.full-page-slider__slide {
  overflow: hidden;
  background: #202020; }
  .full-page-slider__slide__ahoia-logo {
    max-width: 200px; }
    .full-page-slider__slide__ahoia-logo svg {
      margin-left: -55px;
      width: 120%; }
  .full-page-slider__slide--01 .number-timeline, .full-page-slider__slide--02 .number-timeline, .full-page-slider__slide--03 .number-timeline, .full-page-slider__slide--04 .number-timeline, .full-page-slider__slide--05 .number-timeline {
    position: absolute;
    left: 40px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #696969; }
  .full-page-slider__slide--01 .number-timeline {
    display: none; }
  .full-page-slider__slide__ahoia-text {
    width: 100%;
    opacity: 1; }
    .full-page-slider__slide__ahoia-text__quote {
      display: none; }
    .full-page-slider__slide__ahoia-text .intro {
      color: white;
      font-weight: bold; }
    .full-page-slider__slide__ahoia-text ul {
      width: 20%;
      float: left;
      text-align: right;
      margin-top: 4px; }
      .full-page-slider__slide__ahoia-text ul li p {
        color: white;
        font-size: 1.3em;
        font-style: italic;
        line-height: 1.4em; }
        .full-page-slider__slide__ahoia-text ul li p span {
          display: inline-block; }
  .full-page-slider__slide .wrapper {
    position: relative;
    padding: 0 30px 0 80px;
    max-width: 1440px; }
    .full-page-slider__slide .wrapper:after {
      content: "";
      display: table;
      clear: both; }
  .full-page-slider__slide__text-con {
    position: relative;
    margin: 80px 0 20px 0; }
    .full-page-slider__slide__text-con:after {
      content: "";
      display: table;
      clear: both; }
    .full-page-slider__slide__text-con .mobile-timeline-no {
      position: absolute;
      top: -2px;
      left: -55px;
      width: 32px;
      height: 32px; }
      .full-page-slider__slide__text-con .mobile-timeline-no p {
        position: relative;
        text-align: center;
        color: black;
        padding-top: 3px;
        font-size: 14px;
        font-weight: bold; }
      .full-page-slider__slide__text-con .mobile-timeline-no:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(-45deg);
        background: white; }
    .full-page-slider__slide__text-con span p {
      color: white;
      font-weight: 500;
      font-size: 16px;
      margin-top: 0; }
    .full-page-slider__slide__text-con h1 {
      text-transform: uppercase;
      color: white;
      font-size: 2.2em; }
    .full-page-slider__slide__text-con p {
      margin-top: 26px;
      color: #afafaf; }
  .full-page-slider__slide__services ul li p {
    position: relative;
    color: white;
    padding: 10px 0;
    border-bottom: 1px solid #383838; }
  .full-page-slider__slide__services ul li:nth-child(1) p {
    transition: opacity .35s ease-in-out, transform .35s ease-in-out; }
  .full-page-slider__slide__services ul li:nth-child(2) p {
    transition: opacity .35s ease-in-out .1s, transform .35s ease-in-out .1s; }
  .full-page-slider__slide__services ul li:nth-child(3) p {
    transition: opacity .35s ease-in-out .15s, transform .35s ease-in-out .15s; }
  .full-page-slider__slide__services ul li:nth-child(4) p {
    transition: opacity .35s ease-in-out .2s, transform .35s ease-in-out .2s; }
  .full-page-slider__slide__services ul li:nth-child(5) p {
    transition: opacity .35s ease-in-out .35s, transform .35s ease-in-out .35s; }
  .full-page-slider__slide__services ul li:nth-child(6) p {
    transition: opacity .35s ease-in-out .3s, transform .35s ease-in-out .3s; }

@media (min-width: 700px) and (min-height: 500px) {
  body.fp-viewing-0 .full-page-slider__slide__ahoia-text {
    opacity: 1; }
  body.fp-viewing-0 .full-page-slider__timeline-no {
    transform: translateY(500%); }
    body.fp-viewing-0 .full-page-slider__timeline-no:after {
      box-shadow: 0 0 0 0px #202020; }
    body.fp-viewing-0 .full-page-slider__timeline-no__text {
      opacity: 1;
      visibility: visible;
      transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s, visibility 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s; }
  body.fp-viewing-1 .full-page-slider__timeline-no span .container {
    transform: translateY(-56px); }
  body.fp-viewing-2 .full-page-slider__timeline-no span .container {
    transform: translateY(-112px); }
  body.fp-viewing-3 .full-page-slider__timeline-no span .container {
    transform: translateY(-168px); }
  body.fp-viewing-4 .full-page-slider__timeline-no {
    opacity: 0; }
    body.fp-viewing-4 .full-page-slider__timeline-no span .container {
      transform: translateY(-214px); }
  .full-page-slider .contact-page .wrap {
    overflow: hidden; }
  .full-page-slider .mask {
    height: 100%;
    width: 110%;
    position: relative;
    overflow: hidden; }
    .full-page-slider .mask > * {
      position: relative;
      left: 0;
      transform: translateY(150%);
      transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .full-page-slider__timeline-no {
    position: fixed;
    top: 50%;
    left: 75px;
    width: 50px;
    height: 50px;
    z-index: 10;
    background: transparent;
    cursor: pointer;
    transition: transform .35s ease-in-out, opacity .25s ease-in-out; }
    .full-page-slider__timeline-no__text {
      position: absolute;
      right: -125px;
      top: 12px;
      color: white;
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 0.03em;
      opacity: 0;
      font-weight: bold;
      visibility: hidden;
      transition: opacity 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955), visibility 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .full-page-slider__timeline-no:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      background: white;
      transform: rotate(-45deg);
      z-index: 11;
      box-shadow: 0 0 0 6px #202020;
      transition: box-shadow .35s ease-in-out; }
    .full-page-slider__timeline-no span {
      position: relative;
      width: 40px;
      height: 40px;
      overflow: hidden;
      z-index: 12;
      margin: 0 auto; }
      .full-page-slider__timeline-no span .container {
        position: absolute;
        top: 0;
        text-align: center;
        font-weight: bold;
        width: 100%;
        z-index: 16;
        transition: transform .35s ease-in-out; }
        .full-page-slider__timeline-no span .container p:nth-child(1):after, .full-page-slider__timeline-no span .container p:nth-child(1):before {
          content: "";
          position: absolute;
          top: 29px;
          width: 12px;
          background: black;
          height: 3px; }
        .full-page-slider__timeline-no span .container p:nth-child(1):before {
          transform: rotate(45deg);
          transform-origin: bottom right;
          left: 7px; }
        .full-page-slider__timeline-no span .container p:nth-child(1):after {
          left: 20px;
          transform: rotate(-45deg);
          transform-origin: bottom left; }
      .full-page-slider__timeline-no span p {
        padding: 7px 0 12px 0;
        color: black;
        font-size: 20px; }
  .full-page-slider__slide .mobile-timeline-no {
    top: 10px;
    left: -86px; }
  .full-page-slider__slide__ahoia-logo {
    float: left;
    max-width: none;
    width: 40%; }
    .full-page-slider__slide__ahoia-logo svg {
      margin-left: -85px;
      width: 120%; }
  .full-page-slider__slide__services {
    float: left; }
    .full-page-slider__slide__services ul li p {
      opacity: 0;
      padding: 10px 60px 10px 0; }
  .full-page-slider__slide--01 .number-timeline, .full-page-slider__slide--02 .number-timeline, .full-page-slider__slide--03 .number-timeline, .full-page-slider__slide--04 .number-timeline, .full-page-slider__slide--05 .number-timeline {
    left: 100px; }
  .full-page-slider__slide__ahoia-text {
    position: absolute;
    width: 35%;
    right: 10%;
    margin-top: 0;
    opacity: 0;
    transition: opacity .45s ease-in-out .6s; }
    .full-page-slider__slide__ahoia-text .intro {
      font-size: 1.1em;
      float: right; }
  .full-page-slider__slide .wrapper {
    padding: 0 10% 0 170px; }
  .full-page-slider__slide__text-con {
    margin: 60px 0 40px 0; }
    .full-page-slider__slide__text-con p {
      max-width: 500px;
      transform: translateY(20px);
      opacity: 0;
      transition: opacity 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s, transform 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s; }
    .full-page-slider__slide__text-con__logo-symbol {
      opacity: 0;
      position: absolute;
      width: 110%;
      transform: translateY(-32%) skewX(30deg);
      left: -22%;
      z-index: 0;
      transition: opacity .45s ease-in-out, transform .45s ease-in-out; }
    .full-page-slider__slide__text-con span p {
      font-size: 22px; }
    .full-page-slider__slide__text-con h1 {
      font-size: 4em; }
  .full-page-slider__slide.fp-completely .full-page-slider__slide__ahoia-text {
    opacity: 1;
    transform: translateY(0); }
  .full-page-slider__slide.fp-completely .full-page-slider__slide__text-con__logo-symbol {
    opacity: 1;
    transform: translateY(-32%) skewX(0); }
  .full-page-slider__slide.fp-completely .full-page-slider__slide__text-con h1 {
    transform: translateY(0); }
  .full-page-slider__slide.fp-completely .full-page-slider__slide__text-con p {
    opacity: 1;
    transform: translateY(0); }
  .full-page-slider__slide.fp-completely .full-page-slider__slide__services ul li p {
    opacity: 1;
    transform: translateX(0); } }

@media (min-width: 1100px) {
  .full-page-slider__timeline-no {
    display: block; }
  .full-page-slider__slide--01 .number-timeline {
    display: block;
    top: auto;
    bottom: 0;
    height: 100px; }
  .full-page-slider__slide--01 .full-page-slider__slide__text-con {
    margin-top: -100px; }
  .full-page-slider__slide .mobile-timeline-no {
    display: none; }
  .full-page-slider__slide__ahoia-text {
    margin-top: 60px; }
    .full-page-slider__slide__ahoia-text__quote {
      display: block; }
    .full-page-slider__slide__ahoia-text .intro {
      width: 70%; }
  .full-page-slider__slide__services {
    float: right;
    width: 35%;
    margin-top: 50px;
    position: relative; }
    .full-page-slider__slide__services ul li p {
      opacity: 0;
      transform: translateX(-20px); }
  .full-page-slider__slide .wrapper {
    padding: 0 10% 0 210px; }
  .full-page-slider__slide__services {
    padding-right: 10%; }
    .full-page-slider__slide__services ul li p {
      padding: 10px 0; }
  .full-page-slider__slide__text-con {
    float: left;
    width: 60%; }
    .full-page-slider__slide__text-con h1 {
      font-size: 5em; } }
